In [6]:
df.columns = df.columns.str.lower()

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("../data/processed/merged_trader_sentiment.csv")
df["date"] = pd.to_datetime(df["date"])

df.head()

Empty DataFrame
Columns: [account, coin, execution_price, size_tokens, size_usd, side, timestamp_ist, start_position, direction, closed_pnl, transaction_hash, order_id, crossed, fee, trade_id, timestamp_x, date, timestamp_y, value, classification]
Index: []

In [3]:
print(df.columns.tolist())

['account', 'coin', 'execution_price', 'size_tokens', 'size_usd', 'side', 'timestamp_ist', 'start_position', 'direction', 'closed_pnl', 'transaction_hash', 'order_id', 'crossed', 'fee', 'trade_id', 'timestamp_x', 'date', 'timestamp_y', 'value', 'classification']

In [8]:
df = df.rename(columns={
    "closed_pnl": "pnl",
    "closedpnl": "pnl",
    "closedpnl": "pnl",
    "closedpnl": "pnl",
    "pnl": "pnl"
})

In [9]:
df.groupby("classification")["pnl"].mean()
df.groupby("classification")["pnl"].median()

Series([], Name: pnl, dtype: object)

In [10]:
df["is_win"] = df["pnl"] > 0
df.groupby("classification")["is_win"].mean()

Series([], Name: is_win, dtype: float64)

In [11]:
df[df["pnl"] < 0].groupby("classification")["pnl"].describe()

Empty DataFrame
Columns: [count, unique, top, freq]
Index: []

In [12]:
df[df["pnl"] > 0] \
  .groupby("classification")["pnl"] \
  .describe()

Empty DataFrame
Columns: [count, unique, top, freq]
Index: []

In [13]:
summary = df.groupby("classification").agg(
    avg_pnl=("pnl", "mean"),
    median_pnl=("pnl", "median"),
    win_rate=("pnl", lambda x: (x > 0).mean()),
    loss_rate=("pnl", lambda x: (x < 0).mean())
)

summary

Empty DataFrame
Columns: [avg_pnl, median_pnl, win_rate, loss_rate]
Index: []